  .label {
    font-weight: bold;
  }

  h1, h2{
      background-color: grey;
      margin: 10px;
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      text-align:center;
  }
  
  .dogs_not_petted {
    padding: 5px;
    margin: 5px;
    background: red;
    margin-left: auto;
    margin-right: 50%;
    width: 15%;
    list-style: none;
    color: white;
    border-radius: 10px;
  }

  .dogs_petted {
    padding: 5px;
    margin: 5px;
    background: teal;
    margin-left: auto;
    margin-right: 50%;
    width: 15%;
    list-style: none;
    color: white;
    border-radius: 10px;
  }

  .form-group {
    margin-bottom: 5px;
  }
  
  form {
      text-align: center;

  }

  button {
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  input  {
      width: 400px;
      height: 50px;
      text-align: center;
  }