
  .label {
    font-weight: bold;
  }
  
  .dogs_not_petted {
    padding: 5px;
    margin: 5px;
    background: red;
  }

  .dogs_petted {
    padding: 5px;
    margin: 5px;
    background: teal;
  }

  .form-group {
    margin-bottom: 5px;
  }
  